<html ng-app ="app">
<head>
  <link rel="stylesheet" href="css/base.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
  <script src = "js/search.js"></script>
  <script src = "js/movies.js"></script>
  <script src = "js/base.js"></script>
</head>
<body>
	<div class="outer">
	 <div class="inner">
	   <div class="header"><h1>Data Visualizer</h1></div>
	   <div class="container">
		   <div class="left">
               <p><a href="#/">Home</a></p>
			   <p><a href="#search">Search</a></p>
			   <p><a href="#movies">Movies</a></p>
		   </div>
		   <div class="right">
		       <div ng-view="true"></div>
		   </div>
	   </div>
       <div class="footer">Copyright &copy; Varshini.com</div>
     </div>
	</div>
</body>
<script type="text/ng-template" id="home">
<div>
	<p>{{ message }}</p>
</div>
</script>
<script type="text/ng-template" id="search">
<div>
    <p>{{error}}</p>
   <input type="text" placeholder="Search for Movie" ng-model="name" />
   <input type="submit" value="Search" ng-click="search(name)"/>
	<table>
      <tr>
       <th>Movie</th>
       <th>Released Year</th>
      </tr>
      <tr ng-repeat="movie in movieResults">
       <td>{{movie.title}}</td>
       <td>{{movie.releaseYear}}</td>
      </tr>
	</table>
</div>
</script>
<script type="text/ng-template" id="movies">
<div>
    <div class="dib">
       <select ng-model="year1">
       		<option ng-repeat="x in getStartYear()">{{x}}</option>
       </select>
       </div>
       <div class="dib"><h4>To</h4></div>
       <div class="dib">
       	<select ng-model="year2">
       		<option ng-repeat="y in getEndYear()">{{y}}</option>
       	</select>
       </div>
    <div class="dib"><input type="submit" value="Search1" ng-click="search1(year1,year2)"/></div>
</div>
<table>
	<tr>
	<th>Movie</th>
	<th>Released Year</th>
   </tr>
   <tr ng-repeat="movie in selectedYear">
    <td>{{movie.title}}</td>
    <td>{{movie.releaseYear}}</td>
   </tr>
</table>
</script>		
</html>