<script type="text/ng-template" id="graph">
<div>
    <div class="dib">
    	<select ng-model="startYear">
       		<option ng-repeat="x in getStartYear()">{{x}}</option>
       	</select>
     </div>
     <div class="dib"><h4>To</h4></div>
     <div class="dib">
       	<select ng-model="endYear">
       		<option ng-repeat="y in getEndYear()">{{y}}</option>
       	</select>
     </div>
     <div class="dib"><input type="submit" value="Search" ng-click="moviesByYear(startYear, endYear)"/></div>
     <div id="chart">
       <svg></svg>
     </div>
</div>
</script>